# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://SEU_ID.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua_anon_key
SUPABASE_SERVICE_ROLE_KEY=sua_service_role_key

# Riot Games API - https://developer.riotgames.com
RIOT_API_KEY=RGAPI-xxxxxxxxxxxxxxxxxxxxxxxxxxxx
RIOT_REGION=br1
RIOT_REGIONAL_HOST=americas

# App
NEXT_PUBLIC_SITE_URL=http://localhost:3000
